@{
  Layout = "_Layout";
}

@model ClairesHairCare.Models.Stylist

<h1>Add new Stylist</h1>
<div class="container">
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StylistName)
  @Html.TextBoxFor(model => model.StylistName, "text", new { @required = "required" })
  <input type="submit" value="Add new Stylist"/>
}
</div>
<p>@Html.ActionLink("Show all Stylists", "Index")</p>