@{
  Layout = "_Layout";
}

@model ClairesHairCare.Models.Stylist

<h2> Confirm Stylist Deletion</h2>

@Html.DisplayNameFor(model => model.StylistName); @Html.DisplayFor(model => model.StylistName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Stylist list", "Index")

