@font-face {
  font-family: "Lamina";
  src: url("Lamina.ttf") format("tff");
}

a {
  color: grey;
  text-align: center;
}

a:hover {
  font-size: larger;
  font-weight: bolder;
  color: goldenrod;
}

p,
h1 {
  text-align: center;
}

p :hover {
  color: goldenrod;
}

img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  text-align: center;
  list-style-type: none;
  color: goldenrod;
}

.title {
  text-align: center;
}

html,
body,
* {
  font-family: "Lamina", "Times New Roman", Times, serif;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
}

.container {
  text-align: center;
}
