@font-face {
  font-family: "Lamina";
  src: url("Lamina.ttf") format("tff");
}

html,
body,
* {
  font-family: "Lamina", "Times New Roman", Times, serif;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
}
