@{
  Layout = "_Layout";
}
<div>
<h1 class="title">Claires Hair Care</h1>
<img alt="80s salon poster" src="~/css/ClairesSalon.jpg">
<p>
  @Html.ActionLink("Stylists", "Index", "Stylists") &nbsp;&nbsp;&nbsp;&nbsp;
  @Html.ActionLink("Clients", "Index", "Clients")
</p>
<h3 class="title"> Where we care about hair</h3>








</div>